@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


a {
    text-decoration: none;
}

a[href^="http://maps.google.com/maps"] {
    display: none !important;
}

a[href^="https://maps.google.com/maps"] {
    display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
    display: none;
}

.gmnoprint div {
    background: none !important;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
*::-webkit-scrollbar-corner {
    background: #1E1E20;
}

::-webkit-scrollbar-thumb {
    background: #101216;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

::-webkit-scrollbar-track-piece {
    background: #1E1E20;
}
